*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignorar la carpeta de configuración de Android Studio dentro del subdirectorio
PotatoDiseaseAI/.idea/

# También es recomendable ignorar los archivos de compilación y caché
PotatoDiseaseAI/build/
PotatoDiseaseAI/.gradle/

PotatoDiseaseAI/