*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Android Studio / IntelliJ files
.idea/
*.iml
.gradle/
build/
capture/
/PotatoDiseaseAI/.idea

# Ignorar la carpeta de configuración de Android Studio dentro del subdirectorio
PotatoDiseaseAI/.idea/

# También es recomendable ignorar los archivos de compilación y caché
PotatoDiseaseAI/build/
PotatoDiseaseAI/.gradle/
